.container {
    height: 50%;
    width: 100%;
    padding: 5%;
    display: grid;
    justify-content: center;
}

.greetings {
    display: flex;
    justify-content: center;
    color: black;
}

.greetings>h1 {
    padding: 10px;
    font-weight: bold;
    font-size: 50px;
    text-overflow: ellipsis;
    background-color: honeydew;
}

.row {
    display: flex;
    justify-content: center;
}

.user-data {
    padding: 20px;
    background-color: honeydew;
}

.user-picture {
    margin-top: -40px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.user-profile {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
    padding: 20px;
}
