.form-log {
    border-radius: 5px;
    padding: 30px 40px;
    background-color: white;
    box-shadow: 0 -17px 0px -10px crimson;
    margin-top: 30px;
  }
  
  h2 {
    letter-spacing: 4px;
    color: crimson;
  }